<ion-view view-title="Journal">
    
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-plus-outline" ng-click="showEntryModal()"></button>
    </ion-nav-buttons>

  <ion-content class="padding">

    <ion-list>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="entry in journal track by entry.title" type="item-text-wrap">
            <h2>{{entry.title}}</h2>
            <p>{{entry.content}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="remove(entry)">
                Delete
            </ion-option-button>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
